.header{
    display: flex;
    position: fixed;
    width:100%;
    justify-content: space-between; 
    align-items: center;           
    background-color: #E8DFCA;
    height: 70px;  
    z-index: 10;
    padding: 0 5vw;
    top:0;
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.4);
}





.welcomeheader h2{ 
    margin: 0;
  
}

.routeheader{
    display: flex;
    gap: 1vw; /* space between buttons */
}



.headerbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.4vw;


    transition-duration: 0.4s;
    text-decoration: none;
    width: 8rem;
    height:3rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    color: black;
 

}
.headerbtn:hover{
    background-color: #f5f5f7 ;
    color: black;
}

.headerbtn:active {
  background-color: #f5f5f7;
  box-shadow: 0 5px #f5f5f7;
  transform: translateY(1px);
}
.headerimg{
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

#welcomebtn:hover{
    background-color: #E8DFCA ;
}

#welcomebtn:active{
    background-color: #E8DFCA;
    box-shadow: 0 5px #E8DFCA;
}

