
.img{
    width: 200px;
    height: 200px;
    border-radius: 80%;
}



.briefabout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5EFE6;
    text-align: center;
    height: 100vh;
    padding: 0 15vw;

}



.projects{
    margin: 5px 5px;
    background-color:#f5f5f7; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    padding-bottom: 100px;
    border-radius: 5px;
}

.projects h1{
    font-family: "Montserrat", sans-serif;
}

.contact{
    background-color: #F5EFE6;
    padding:5% 10%;
    
}

.contact h1{
    padding-bottom: 10px;
    text-align: center;
}